# Ignore Gradle project-specific cache directory
.gradle/

# Ignore Gradle build output directory
build/
**/build/

# IntelliJ Platform caches
.intellijPlatform/

# IntelliJ IDEA project files
.idea/
*.iml

# OS
.DS_Store
